body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 30px;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 10px;
  color: #222;
}

input, select {
  margin-top: 5px;
}

#prodPrice {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.3em;
}
